<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
      	<package name="com.web.curation.model"/>
   	</typeAliases>
	<mappers>
	<mapper resource="mappers/review.xml" />
	<mapper resource="mappers/service.xml" />
		<mapper resource="mappers/user.xml" />
		<mapper resource="mappers/fselect.xml" />
		<mapper resource="mappers/pay.xml" />
		<mapper resource="mappers/qna.xml" />
		<mapper resource="mappers/profile.xml" />
		<mapper resource="mappers/msg.xml" />
		<mapper resource="mappers/board.xml" />
		<mapper resource="mappers/comment.xml" />
	    <mapper resource="mappers/follow.xml" />
	
	</mappers>
</configuration>


